@page
@model LocantaApp.Pages.Restaurants.ClientRestaurantsModel
@{
}

<h2>Client Restaurants</h2>

@section Scripts{

    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <link href="~/node_modules/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <script src="~/node_modules/datatables.net-bs/js/dataTables.bootstrap.js"></script>

    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>

    </environment>
    <script>
        $(function
            () {
            $.ajax("/api/restaurants/", {
                method: "get"
            }).then(function (response) {

                console.log(response);


            })
        })
    </script>

}